/* example of a class selector which isn't applied to the web components. */
.ul {
    border: 5px solid yellow;
}

/* example of a custom property that is applied to the web components. */
html {
    --custom-dom-penetrating-color: magenta;
}

h1 {
    color: var(--custom-dom-penetrating-color);
}

